<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITHubEdu</title>
</head>
<body>
    <header>
        <h1>ITHub Образование</h1>
        <a href="/">Вернуться на главную</a>
    </header>

    <section id="about">
        <h2>О сервисе</h2>
      <p>Раздел посвящен нашим курсам и инструментам для улучшения навыков, знаний и результатов экзаменов</p>
    </section>

    <section id="courses">
        <h2>Наши курсы</h2>
        <article>
            <a href="oge/"><h3>ОГЭ</h3></a>
            <p>Курсы подготовки к ОГЭ помогут вам улучшить ваши знания и успешно сдать экзамен.</p>
        </article>
        <article>
            <a href="ege/"><h3>ЕГЭ</h3></a>
            <p>Курсы подготовки к ЕГЭ обеспечат вас всеми необходимыми навыками и знаниями для успешной сдачи экзамена.</p>
        </article>
    </section>

    <footer>
        <p>&copy; 2024 ITHub. Все права защищены.</p>
    </footer>
</body>
</html>
