<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITHub</title>
</head>
<body>
    <header>
        <h1>ITHub</h1>
        <a href="edu/">Образование</a>
    </header>

    <section id="about">
        <h2>О нас</h2>
        <p>Мы - сообщество увлеченных программистов, стремящихся к обмену знаниями и опыту. Наши цели - поддержка и развитие IT-специалистов, проведение мероприятий и создание благоприятной среды для обучения и общения</p>
    </section>

    <section id="news">
        <h2>Новости мира информационных технологий</h2>
        {% for el in news %}
            <article>
                <h3>{{ el.title }}</h3>
                <p>{{ el.desc }}</p>
                <p>{{ el.created_at }}</p>
            </article>
        {% endfor %}
    </section>

    <footer>
        <p>&copy; 2024 ITHub. Все права защищены.</p>
    </footer>
</body>
</html>
