{% extends "base.html" %}

{% block content %}
    <section id="about">
        <h2>О нас</h2>
        <p>Мы - сообщество увлеченных программистов, стремящихся к обмену знаниями и опыту. Наши цели - поддержка и развитие IT-специалистов, проведение мероприятий и создание благоприятной среды для обучения и общения</p>
    </section>

    <section id="news">
        <h2>Новости мира информационных технологий</h2>

        <table>
            <tr>
                <td>Фильтры:</td> <td><a href="?today=1">Сегодня</a></td><td><a href="/">Очистить</a></td>
            </tr>
            {% for category in categories %}
                <tr><td><a href="?cat={{ category.id }}">{{ category.name }}</a></td></tr>
            {% endfor %}
        </table>

        {% for el in news %}
            <article>
                <h3>{{ el.title }}</h3>
                <p>{{ el.desc }}</p>
                <p>{{ el.created_at }}</p>
                <p>{{ el.category.name }}</p>
                <p class="rate">{{ el.avg_rate }}</p>
            </article>
        {% endfor %}

        <br>
        <br>
        <br>

        {% for el in news_by_categories %}
            <p>{{ el.title }}</p>
        {% endfor %}
    </section>
{% endblock %}
